# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Virtual environments
venv/
env/
ENV/
VENV/

# VSCode settings
.vscode/

# Environment variables
.env
.env.*

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Test coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mypy
.mypy_cache/

# Pyre
.pyre/

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Backup files
*~

# Logs
*.log
